/* This is for styling the board cards */

.container-board{
  margin-left: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.board-card {
  position: relative;
  font-family: "Candara", sans-serif;
  width: 400px;
  height: 290px;
  margin: 20px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 5px 10px gray;
  display: flex;
  flex-direction: column;
  transition-duration: 0.4s;
  transition-property: transform;
  background-color: ghostwhite;
}

.board-card-image img{
  width: 100%;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.board-card-content {
  position: relative;
  display: flex;
  padding-left: 30px;
}

.board-card-content h3 {
  font-size: 25px;
  text-align: left;
  width: 200%;
}

.board-join{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
}


.board-join button {
  /* background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding-left: 50px;
  padding-right: 50px; */
}


.board-leave{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.board-left-card {
  display: flex;
  padding-top: 5px;
  position: absolute;
  right: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.search-message-board{
  margin-left: 210px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

