<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>UWI Notice Board</title>
  <link href="static/css/boards.css" rel="stylesheet" type="text/css" />
   <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
  
<body>

  <header class="header">
    <div class="logo left">
      <a href='{{ url_for('home') }}'>
        <h3>UWI Notice Board</h3>
      </a>
    </div>
     
    <div class="search center">
      <form method="POST" action="{{ url_for('search') }}" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search"  aria-label="Search" name="searchCriteria"/>
        <button class="btn btn-outline-secondary" type="submit"><i class="material-icons">search</i></button>
      </form>
    </div>

     <div class="icons-right"> 
       <div class="dropdown">
          <button class="dropbtn">Faculty</button>
          <div class="dropdown-content">
            <a href="#">Science and Technology</a>
            <a href="#">Medical Sciences</a>
            <a href="#">Social Sciences</a>
            <a href="#">Engineering</a>
            <a href="#">Law</a>
            <a href="#">Humanities and Education</a>
            <a href="#">Food and Agriculture</a>
            <a href="#">Sports</a>
          </div>
        </div>
       <div class="dropdown">
          <button class="dropbtn">Department</button>
          <div class="dropdown-content">
            <a href="#">DCIT</a>
            <a href="#">Chemisty</a>
            <a href="#">Physics</a>
            <a href="#">Life Sciences</a>
            <a href="#">Math</a>
          </div>
        </div>
     </div>
      <div class="create">
        <button>Create Board</button>
      </div>
  </header>
      <main>
          <div class="side-bar">
            <div class="nav">
              <a href='{{ url_for('home') }}' class="nav-link active">
                <i class="material-icons">home</i>
                <span>Home</span>
              </a>
              <a class="nav-link">
                <i class="material-icons">explore</i>
                <span>Explore</span>
              </a>
              <a href='{{ url_for('boards') }}' class="nav-link">
                <i class="material-icons">collections</i>
                <span>Boards</span>
              </a>
              <a class="nav-link">
                <i class="material-icons">collections_bookmark</i>
                <span>Boards Saved</span>
              </a>
            </div>
            <hr>
            <h4>Recommended</h4>
            <a class="nav-link">
              <i class="material-icons">desktop_windows</i>
              <span>DCIT</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Chemisty</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Physics</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Life Sciences</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">exposure</i>
              <span>Math</span>
            </a>
          </div>

          <div class="container">
            {% block content %}
              {% for board in boards %}
                <div class="card">
                  <div class="card-image">
                    <img src="static/images/dark.jpg">
                  </div>

                  <div class="card-content">
                    <div class="title">
                      <h3>
                        {{ board.title }} 
                      </h3>
                    </div>

                    <div class="left-card">
                      <div class="u-count">
                        <p class="users-count">1.2k</p>
                      </div>

                      <div class="user-icon">
                        <i class="material-icons">person</i>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="join">
                      <button>Join</button>
                    </div>
                </div>
              {% endfor %}
            {% endblock %}

            <a href="{{ url_for('createBoard') }}" class="d-flex">
              <button class="btn btn-outline-secondary" type="submit">
                Create a Board
              </button>
            </a>
          </div>
      </main>
  <script src="script.js"></script>
</body>
</html>