<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>UWI Notice Board</title>
  
  
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>

  {% block body %}
  <script>


    document.addEventListener('DOMContentLoaded', function () {
      var Calendar = FullCalendar.Calendar


      var calendarEl = document.getElementById('calendar');
      
    

      // initialize the calendar
      // -----------------------------------------------------------------

      var calendar = new Calendar(calendarEl, {
        navLinks: true,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        intialView: 'dayGridMonth',
        aspectRatio : 2.25,

        events: [
          {%for event in events %}
  {
          title: '{{event.title}}',
          start: '{{event.start}}',
          end: '{{event.end}}',
          url: '{{event.url}}'
        },
        {% endfor %}
],
});

    calendar.render();
});

  </script>

  {% endblock body %}


  <title>Calendar</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
    }

    #external-events {
      position: fixed;
      z-index: 2;
      top: 20px;
      left: 20px;
      width: 150px;
      padding: 0 10px;
      border: 1px solid #ccc;
      background: #eee;
    }

    #external-events .fc-event {
      cursor: move;
      margin: 3px 0;
    }

    #calendar-container {
      position: relative;
      z-index: 1;
      margin-left: 200px;
    }

    #calendar {
      max-width: 1100px;
      margin: 20px auto;
    }
  </style>
  <link href="static/css/page.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <header class="header">
    <div class="logo left">
      <a href="{{ url_for('home') }}">
        <h3>UWI Notice Board</h3>
      </a>
    </div>

    <div class="search center">
      <form method="POST" action="{{ url_for('search') }}" class="d-flex"> {{ form.hidden_tag() }}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchCriteria" />
        <button class="btn btn-outline-secondary" type="submit">
          <i class="material-icons">search</i>
        </button>
      </form>
    </div>

    <div class="icons-right"></div>
  </header>
  <main>
    <div class="side-bar">
      <div class="nav">
        <a href="{{ url_for('home') }}" class="nav-link">
          <i class="material-icons">home</i>
          <span>Home</span>
        </a>

        <a href="{{ url_for('feed', uID = current_user.id, sortF = None, sortD = None) }}" class="nav-link">
          <i class="material-icons">explore</i>
          <span>Feed</span>
        </a>

        <a href="{{ url_for('boards') }}" class="nav-link">
          <i class="material-icons">collections</i>
          <span>Boards</span>
        </a>

        <a href="{{ url_for('cal') }}" class="nav-link active">
          <i class="material-icons">date_range</i>
          <span>Calendar</span>
        </a>
      </div>
      <hr>
      <!-- <h4>Recommended</h4>
      <a class="nav-link">
        <i class="material-icons">desktop_windows</i>
        <span>DCIT</span>
      </a>
      <a class="nav-link">
        <i class="material-icons">science</i>
        <span>Chemisty</span>
      </a>
      <a class="nav-link">
        <i class="material-icons">science</i>
        <span>Physics</span>
      </a>
      <a class="nav-link">
        <i class="material-icons">science</i>
        <span>Life Sciences</span>
      </a>
      <a class="nav-link">
        <i class="material-icons">exposure</i>
        <span>Math</span>
      </a> -->
      <div>
        <button onclick="window.location.href='/logout'">Log Out</button>
      </div>
    </div>

    <div class="container">
      <div id='calendar-container'>
        <div id='external-events'>

        </div>
        <div id='calendar'></div>
      </div>
    </div>
  </main>
  <script src="script.js"></script>
</body>

</html>