<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>UWI Notice Board</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
   <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
  
<body>

  <header class="header">
     <div class="logo left">
       
       <h3>UWI Notice Board</h3>
     </div>
     
     <div class="search center">
       <form method="POST" action="{{ url_for('search') }}" class="d-flex">
        {{ form.hidden_tag()}}
         <input class="form-control me-2" type="search" placeholder="Search"  aria-label="Search" name="searchCriteria"/>
         <button class="btn btn-outline-secondary" type="submit"><i class="material-icons">search</i></button>
       </form>
     </div>

     <div class="icons-right"> 
       <div class="dropdown">
          <button class="dropbtn">Faculty</button>
          <div class="dropdown-content">
            <a href="#">Science and Technology</a>
            <a href="#">Medical Sciences</a>
            <a href="#">Social Sciences</a>
            <a href="#">Engineering</a>
            <a href="#">Law</a>
            <a href="#">Humanities and Education</a>
            <a href="#">Food and Agriculture</a>
            <a href="#">Sports</a>
          </div>
        </div>
       <div class="dropdown">
          <button class="dropbtn">Department</button>
          <div class="dropdown-content">
            <a href="#">DCIT</a>
            <a href="#">Chemisty</a>
            <a href="#">Physics</a>
            <a href="#">Life Sciences</a>
            <a href="#">Math</a>
          </div>
        </div>
     </div>
      <div class="create">
        <button>Create Board</button>
      </div>
  </header>
      <main>
          <div class="side-bar">
            <div class="nav">
              <a class="nav-link active">
                <i class="material-icons">home</i>
                <span>Home</span>
              </a>
              <a class="nav-link">
                <i class="material-icons">explore</i>
                <span>Explore</span>
              </a>
              <a class="nav-link">
                <i class="material-icons">collections</i>
                <span>Boards</span>
              </a>
              <a class="nav-link">
                <i class="material-icons">collections_bookmark</i>
                <span>Boards Saved</span>
              </a>
            </div>
            <hr>
            <h4>Recommended</h4>
            <a class="nav-link">
              <i class="material-icons">desktop_windows</i>
              <span>DCIT</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Chemisty</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Physics</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Life Sciences</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">exposure</i>
              <span>Math</span>
            </a>
          </div>
          <div class="container">
            {% block content %}
                <h4>Please fill out the form to create your post</h4>
                
                <br/>

                <form method ="POST" enctype="multipart/form-data">
                  <div class="card">
                    <div class="card-left">
                      <div class="c-top">

                        <div class="t-left">
                          <div class="profile-image">
                            <img src="static/images/icon.png" alt="">
                              <p class="name">Aaron S.</p>
                              <p class="time">1hr ago</p>
                            </div>
                          </div>

                          <div class="t-right">
                            <div class="card-content">
                              <h3 class="title">{{ form.hidden_tag() }}
                                {{ form.title(placeholder="Enter post title") }}
                              </h3>

                              <p>
                                {{ form.message(placeholder="Add some text") }}
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="c-bot">
                          <div class="c-bot-left">
                            <p class="board-name">
                              DCIT
                            </p>
                          </div>

                          <div class="c-bot-mid">
                            <div class="card-footer">
                              <button>{{ form.submit() }}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                        
                      <div class="card-right">
                        <div class="flyer">
                          {% if file_url %}
                          <img class="flyer-image" src="{{ file_url }}" alt="">
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {{ form.photo(class="form.contorl") }}
                  </div>
                </form>
            {% endblock %}

         </div>
      </main>
  <script src="script.js"></script>
</body>
</html>