<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>UWI Notice Board</title>
    <link rel="stylesheet" href="./static/css/test.css">
    <link href="static/css/form.css" rel="stylesheet" type="text/css" />
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-notepad icon'></i>
        <div class="logo_name">Notice Board</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class='bx bx-search'></i>
        <form method="POST" action="{{ url_for('search') }}" class="d-flex"> {{ form.hidden_tag() }}
          <input class="form-control me-2" type="search" placeholder="Search"  aria-label="Search" name="searchCriteria"/>
        </form>
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="{{ url_for('home') }}">
          <i class='bx bx-home'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
       <a href="{{ url_for('feed', uID = current_user.id, sortF = None, sortD = None) }}">
         <i class='bx bx-compass' ></i>
         <span class="links_name">Feed</span>
       </a>
       <span class="tooltip">Feed</span>
     </li>
     <li>
       <a href="{{ url_for('boards') }}">
         <i class='bx bx-collection' ></i>
         <span class="links_name">Boards</span>
       </a>
       <span class="tooltip">Boards</span>
     </li>
     <li>
      <a href="{{ url_for('savedBoards') }}">
        <i class='bx bx-heart' ></i>
        <span class="links_name">Saved Boards</span>
      </a>
      <span class="tooltip">Saved Boards</span>
    </li>
     <li>
       <a href="{{ url_for('cal') }}">
         <i class='bx bx-calendar' ></i>
         <span class="links_name">Calendar</span>
       </a>
       <span class="tooltip">Calendar</span>
     </li>
     <!-- <li>
       <a href="#">
         <i class='bx bx-folder' ></i>
         <span class="links_name">File Manager</span>
       </a>
       <span class="tooltip">Files</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cart-alt' ></i>
         <span class="links_name">Order</span>
       </a>
       <span class="tooltip">Order</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-heart' ></i>
         <span class="links_name">Saved</span>
       </a>
       <span class="tooltip">Saved</span>
     </li> -->
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">{{ current_user.username }}</div>
             <!-- <div class="job">Web designer</div> -->
           </div>
         </div>
         <div>
          <a href="{{ url_for('logout') }}">
            <i class='bx bx-log-out' id="log_out"></i>
          </a>
        </div>
     </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="button-container">
        <div class="text">Form</div>
        <!-- <div class="act-container">
          <button class="custom-btn btn-5"><i class='bx bx-filter-alt'></i>{% if sortF %}
            {{ sortF }}
          {% else %}
            Faculty
          {% endif %}</button>
          <div class="dropdown-content">
            {% for fac in faculty %}
              <a href="{{ url_for('home', sortF = fac.label )  }}"> {{ fac.title }} </a>
            {% endfor %}
          </div>
          <button class="custom-btn btn-5"><i class='bx bx-filter-alt'></i>{% if sortD %}
            {{ sortD }}
          {% else %}
            Department
          {% endif %}</button>
          <div class="dropdown-content">
            {% for dept in department %}
              {% if dept.fLabel == sortF %}
                <a href="{{ url_for('home', sortF = sortF, sortD = dept.dLabel )  }}"> {{ dept.department }} </a>
              {% endif %}
            {% endfor %}
          </div>
        </div> -->
      </div>
<!-- Your Stuff Goes, Use a main tag-->
<main>
    {% block content %}
    {% if formPost %}
    <div class="container-post">
      <p>Please fill out the form to create your post.</p></br>
      <form method="POST" enctype="multipart/form-data" style="width:100%">
        {{ formPost.hidden_tag() }}
        <p>Upload Flyer</p>
        <div>
          {{ formPost.photo(class="form-control") }}
        </div><br>
        
    
        <p>Title</p>
        <div>
          {{ formPost.title(placeholder="Add text") }}
        </div><br>
        
        
        <p>Message</p>
        <div>
          {{ formPost.message(placeholder="Add some text") }}
        </div><br>
        
   
        <!-- This is for Events and Dates -->
        <div class="card-content">
            <h4>Post Options</h4></br>
            <label for="eventCheck">Create Event</label>
            <input type="checkBox" id="eventCheck" onclick="scheduleEvent()">

            <div id="eventDrop" style="display:none">
            <p>{{ formPost.startDate.label}} {{formPost.startDate(class='DateTimeField')}}</p>
            <p>{{ formPost.endDate.label}} {{formPost.endDate(class='DateTimeField')}}</p>
            </div><br>

            <br>
            
            <label for="postCheck">Schedule Post</label>
            <input type="checkBox" id="postCheck" onclick="schedulePost()">

            <div id="postDrop" style="display:none">
            <p>{{ formPost.schedulePostDate.label}} {{formPost.schedulePostDate(class='form-control')}}</p>
            </div><br>

            <br>

            <label for="deleteCheck">Schedule Delete</label>
            <input type="checkBox" id="deleteCheck" onclick="scheduleDelete()">

            <div id="deleteDrop" style="display:none">
            <p>{{ formPost.scheduledDeleteDate.label}} {{formPost.scheduledDeleteDate(class='form-control')}}</p>
            </div><br>

            <br>
            <script>
                function scheduleEvent() {
                var box = document.getElementById("eventCheck");
                var drop = document.getElementById("eventDrop");

                if (box.checked) {
                    drop.style.display = "block";
                }
                else {
                    drop.style.display = "none";
                }
                }

                function schedulePost() {
                var box = document.getElementById("postCheck");
                var drop = document.getElementById("postDrop");

                if (box.checked) {
                    drop.style.display = "block";
                }
                else {
                    drop.style.display = "none";
                }
                }

                function scheduleDelete() {
                var box = document.getElementById("deleteCheck");
                var drop = document.getElementById("deleteDrop");

                if (box.checked) {
                    drop.style.display = "block";
                }
                else {
                    drop.style.display = "none";
                }
                }
            </script>
          <button class="custom-btn btn-5"><i class='bx bxs-paper-plane'></i> {{ formPost.submit() }}</button>
        </div>
        <!-- This is end of Events and Dates -->
      </form>
      {{ ckeditor.load(pkg_type="basic") }}
      {{ ckeditor.config(name='message') }}
    </div>
    {% else %}
    <div class="container-board">
      <p>Please fill out the form to create your board.</p><br />
      
      <form method="POST" enctype="multipart/form-data" style="width:100%">
        {{ formBoard.hidden_tag() }}
        <p>Upload Thumbnail</p>
        <div>
          {{ formBoard.photo(class="form.control") }}
        </div><br>
        
        <p>Title</p>

        <div>
          {{ formBoard.title(placeholder="Enter board name") }}
        </div><br>
            
        <p>Select Faculty & Department</p>
        <select name='faculty'>
          
          {% for fac in faculty %}
          <option value="{{ fac.label }}" {% set value=fac.label + "+" + "None" %} {% if value==choice %} selected {%
            elif choice is none and fac.label=="STA" %} selected {% endif %}>
            {{ fac.title }}
          </option>

          {% if department | selectattr('fLabel','equalto', fac.label) | list | length > 1 %}
          <optgroup label="Departments:">
            {% for dept in department %}
            {% if dept.department != "" and fac.label == dept.fLabel%}
            <option value="{{ fac.label }}+{{ dept.dLabel }}" {% set value=fac.label + "+" + dept.dLabel %} {% if
              value==choice %} selected {% endif %}>
              {{ dept.department }}
            </option>
            {% endif %}
            {% endfor %}
          </optgroup>
          {% endif %}

          {% endfor %}
        </select>

        <div>
            <button class="custom-btn btn-5"><i class='bx bxs-paper-plane'></i> {{ formBoard.submit() }}</button>
        </div>
        
      </form>
      {{ ckeditor.load(pkg_type="basic") }}
      {{ ckeditor.config(name='message') }}
    </div>
    {% endif %}
    {% endblock %}
  </main>
  </section>

  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>
