<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>UWI Notice Board</title>
  <link href="static/css/page.css" rel="stylesheet" type="text/css" />
  <link href="static/css/post.css" rel="stylesheet" type="text/css" />
   <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
  
<body>

  <header class="header">
    <div class="logo left">
      <a href="{{ url_for('home') }}">
        <h3>UWI Notice Board</h3>
      </a>
    </div>
     
    <div class="search center">
      <form method="POST" action="{{ url_for('search') }}" class="d-flex"> {{ form.hidden_tag() }}
        <input class="form-control me-2" type="search" placeholder="Search"  aria-label="Search" name="searchCriteria"/>
        <button class="btn btn-outline-secondary" type="submit">
          <i class="material-icons">search</i>
        </button>
      </form>
    </div>

     <div class="icons-right"> 
      <div class="dropdown">
        <button class="dropbtn">
          {% if sortF %}
            {{ sortF }}
          {% else %}
            Faculty
          {% endif %}
        </button>
        <div class="dropdown-content">
          {% for fac in faculty %}
            <a href="{{ url_for('home', sortF = fac.label )  }}"> {{ fac.title }} </a>
          {% endfor %}
        </div>
      </div>
     <div class="dropdown">
        <button class="dropbtn">
          {% if sortD %}
            {{ sortD }}
          {% else %}
            Department
          {% endif %}
        </button>
        <div class="dropdown-content">
          {% for dept in department %}
            {% if dept.fLabel == sortF %}
              <a href="{{ url_for('home', sortF = sortF, sortD = dept.dLabel )  }}"> {{ dept.department }} </a>
            {% endif %}
          {% endfor %}
        </div>
     </div>
  </header>
      <main>
          <div class="side-bar">
            <div class="nav">
              <a href="{{ url_for('home') }}" class="nav-link active">
                <i class="material-icons">home</i>
                <span>Home</span>
              </a>

              <a class="nav-link">
                <i class="material-icons">explore</i>
                <span>Explore</span>
              </a>

              <a href="{{ url_for('boards') }}" class="nav-link">
                <i class="material-icons">collections</i>
                <span>Boards</span>
              </a>

              <a class="nav-link">
                <i class="material-icons">collections_bookmark</i>
                <span>Boards Saved</span>
              </a>
            </div>
            <hr>
            <h4>Recommended</h4>
            <a class="nav-link">
              <i class="material-icons">desktop_windows</i>
              <span>DCIT</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Chemisty</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Physics</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">science</i>
              <span>Life Sciences</span>
            </a>
            <a class="nav-link">
              <i class="material-icons">exposure</i>
              <span>Math</span>
            </a>
          </div>
          <div class="container-post"> <!-- Open container -->
            <!-- <div class="for-date">
              <p class="the-date">🟢Today</p> -->
              {% block content %}
                {% for post in posts %}

                  {% if sortF is none %}
                    <div class="card">
                      <div class="card-left">
                        <div class="card-top">
                          <div class="top-left">
                            <div class="profile-image">
                              <img src="static/images/defaultProfile.jpg" alt="">
                              <p class="name">Aaron S.</p>
                              <p class="time">1hr ago</p>
                            </div>
                          </div>
                          <div class="top-right">
                            <div class="card-content">
                              <h3 class="title">{{ post.title }}</h3>
                              <p>{{ post.message | safe }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-bot">
                          <div class="card-bot-left">
                            <p class="board-name">
                              {% for board in boards %}
                                {% if board.id == post.bID %}
                                  {{ board.title }}
                                {% endif %}
                              {% endfor %}
                            </p>
                          </div>
                          <div class="card-bot-mid">
                            <div class="card-footer">
                              <button>Leave</button>
                            </div>
                          </div>
                          <div class="card-bot-right-left">
                            <p class="users-count">1.2k</p>
                          </div>
                          <div class="user-icon">
                            <i class="material-icons">person</i>
                          </div>
                          <div class="card-bot-right-mid">
                            <p class="views">15 views</p>
                          </div>
                          <div class="card-bot-right-right">
                            <i class="material-icons">more_horiz</i>
                          </div>
                        </div>
                      </div>
                      <div class="card-right">
                        <div class="flyer">
                          <img class="flyer-image" src="{{ url_for('get_file', filename = post.imageLocation)  }}" alt="">
                        </div>
                      </div>
                    </div>
                    
                  {% elif post.faculty == sortF %}
                  
                    {% if sortD is none %}
                      <div class="card">
                        <div class="card-left">
                          <div class="card-top">
                            <div class="top-left">
                              <div class="profile-image">
                                <img src="static/images/defaultProfile.jpg" alt="">
                                <p class="name">Aaron S.</p>
                                <p class="time">1hr ago</p>
                              </div>
                            </div>
                            <div class="top-right">
                              <div class="card-content">
                                <h3 class="title">{{ post.title }}</h3>
                                <p>{{ post.message | safe }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-bot">
                            <div class="card-bot-left">
                              <p class="board-name">
                                {% for board in boards %}
                                  {% if board.id == post.bID %}
                                    {{ board.title }}
                                  {% endif %}
                                {% endfor %}
                              </p>
                            </div>
                            <div class="card-bot-mid">
                              <div class="card-footer">
                                <button>Leave</button>
                              </div>
                            </div>
                            <div class="card-bot-right-left">
                              <p class="users-count">1.2k</p>
                            </div>
                            <div class="user-icon">
                              <i class="material-icons">person</i>
                            </div>
                            <div class="card-bot-right-mid">
                              <p class="views">15 views</p>
                            </div>
                            <div class="card-bot-right-right">
                              <i class="material-icons">more_horiz</i>
                            </div>
                          </div>
                        </div>
                        <div class="card-right">
                          <div class="flyer">
                            <img class="flyer-image" src="{{ url_for('get_file', filename = post.imageLocation)  }}" alt="">
                          </div>
                        </div>
                      </div>
                    {% elif post.dept == sortD %}
                      <div class="card">
                        <div class="card-left">
                          <div class="card-top">
                            <div class="top-left">
                              <div class="profile-image">
                                <img src="static/images/defaultProfile.jpg" alt="">
                                <p class="name">Aaron S.</p>
                                <p class="time">1hr ago</p>
                              </div>
                            </div>
                            <div class="top-right">
                              <div class="card-content">
                                <h3 class="title">{{ post.title }}</h3>
                                <p>{{ post.message | safe }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-bot">
                            <div class="card-bot-left">
                              <p class="board-name">
                                {% for board in boards %}
                                  {% if board.id == post.bID %}
                                    {{ board.title }}
                                  {% endif %}
                                {% endfor %}
                              </p>
                            </div>
                            <div class="card-bot-mid">
                              <div class="card-footer">
                                <button>Leave</button>
                              </div>
                            </div>
                            <div class="card-bot-right-left">
                              <p class="users-count">1.2k</p>
                            </div>
                            <div class="user-icon">
                              <i class="material-icons">person</i>
                            </div>
                            <div class="card-bot-right-mid">
                              <p class="views">15 views</p>
                            </div>
                            <div class="card-bot-right-right">
                              <i class="material-icons">more_horiz</i>
                            </div>
                          </div>
                        </div>
                        <div class="card-right">
                          <div class="flyer">
                            <img class="flyer-image" src="{{ url_for('get_file', filename = post.imageLocation)  }}" alt="">
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  
                  {% endif %}

                {% endfor %}
                
              {% endblock %}
            <!-- </div>--> 
          </div> <!-- Close container -->
      </main>
  <script src="script.js"></script>
</body>
</html>