
<!--Style Sheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"><link href="/static/signup.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!--Buttons-->
{% block buttons %}
{% if current_user.is_authenticated %}
  <button onclick="window.location.href='/logout'"class="button" class="logout">Logout</button>
{% endif %}
<button onclick="window.location.href='/signup'"class="button">Sign Up</button>
{% endblock %}

{% block content %}

<div class="row">
  
    <div class="row">
      
      <form id="myForm" class="col s12 m8 offset-m2" method="POST" action="/login">
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.username(size=20, class="validate") }}
              {{ form.username.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{ form.password(size=20, class="validate") }}
              {{ form.password.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
            </div> 
        </form>
    </div>
</div>
{% endblock %}